name: Publish
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to publish
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v5
      - name: configure git
        run: |
          git config --global user.email github-actions@github.com
          git config --global user.name github-actions

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org
      - run: pnpm install

      - run: pnpm run check
      - run: pnpm run build

      - run: pnpm version ${{ inputs.version }}
      - run: git push origin main --follow-tags
      - run: pnpm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
